.img-post{
    max-width: 35%;
}
.Blogs-post{display: flex;
border: 1px solid black;
height: max-content;
min-height: 20vh;
width: 82%;
margin: 10px auto ;
padding: 4px;

}
.Blogs-posts{
align-items: center;
    max-width: 1100px;
    background-color: rgb(239, 254, 254);
    justify-content: center;
    margin: 0 auto ;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
margin-bottom: 20px;}
.Blog-post-content{
    margin-left: 10px;
}
#loadmorebtn{
    width: 15%;
height: 35px;
font-size: 20px;
background-color: brown;
color: white;
right: 10px;
margin-left: 75%;
border-radius: 5px;
}
@media (max-width: 550px) {
    .img-post{
        max-width: 100%;
    }
    .Blogs-post{
        display: block;
        align-items: center;
    } 
    .cont{
        display: none;
    }
    .author{
        display: none;
    }
    #loadmorebtn{
        width: 80%;
    height: 35px;
    font-size: 20px;
    background-color: brown;
    color: white;
    right: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    }
}
  